#typography {
  margin-top: -3rem;
}
#modals .modal {
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  z-index: 1;
  display: block;
}
footer a {
  color: lightgray;
}
footer a:hover {
  color: white;
  text-decoration: none;
}
